
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans", sans-serif;

}

.newSender i {
  margin: 0 !important;
  padding-right: 5px;
}

.newSender {
  margin: 0 !important;
}

.newSender:hover i {
  color: #65ba47;
}

.secound-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  display: none;
  box-shadow: 0px 1px 5px 1px #dcdada96;
}

.openmenue,
.closebtn {
  display: none;
}

.l-div .closebtn {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 20px;
}

.r-div .closebtn {
  position: absolute;
  top: 5px;
  left: 15px;
  font-size: 20px;
}

.closebtn:hover {
  box-shadow: unset !important;
  ;
  color: black !important;
  ;
  padding: unset !important;
}

select,
input {
  height: 35px;
}

.sender-types {
  display: inline-block;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  cursor: pointer;
  direction: rtl;

}

.sender-types #sender-ID
{
  display: inline-block;
  background-color: transparent;
  color: black;
  border-radius: 20px;
  padding: 10px 10px 10px 10px;
  margin: 0;
  border: 0;
}
.sender-types #sender-mobile{
   display: inline-block;
  /* background-color: transparent;
  color: black; */
  border-radius: 20px;
  padding: 10px 10px 10px 10px;
  margin: 0;
  border: 0;
   background-color: rgb(101, 186, 71);
  color: white;
}
.sender-types #sender-mobile:focus,
.sender-types #sender-ID:focus {
  background-color: rgb(101, 186, 71);
  color: white;
}

#sender-ID:focus + #sender-mobile{
  background-color: white;
  color: black;
}

.sender-types #sender-ID {
  background-color: white;
  color: black;
}

.green {
  background-color: #65ba47 !important;
  color: white;
}

.white {
  background-color: white !important;
  color: black;
}

.content .row a:hover {
  transition: 0.5s;
}

.content .row a:hover {
  box-shadow: 0px 1px 5px 1px #dcdada96;
  color: #65ba47;
  padding: 10px 0px 10px 0px;
}


.nav ::placeholder {
  color: #ffffffe8;
}

.nav {
  background: radial-gradient(circle, rgba(245,242,243,1) 0%, rgba(10,116,153,1) 100%);
  color: white;
  padding: 5px 0px 5px 0px;
  text-align: right;
  font-family: Montserrat;
}

.logo {
  text-align: left;
}

.nav img {
  width: 120px;

}

.nav .sender-m {
  background-color: #65ba47;
  padding: 10px;
  border-radius: 20px;
  border: none;
  color: white;
  padding-right: 10px;
  position: relative;
}

.nav .sender-id {
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  border: none;
  color: black;
  margin-left: -37px;
  padding-left: 50px;
}

.nav .search-input {
  display: inline-block;
  width: 190px;

  font-size: 1rem;
  line-height: 1.5;
  color: #212529;
  background-color: #5271a2;
  background-clip: padding-box;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 20px;
  color: white;
  margin: 0px -35px 0px 10px;
  padding-top: 18px !important;
  padding-bottom: 18px !important;
  padding-left: 15px;

}

.nav i {
  margin-right: 20px;
  color: #ffffffe8;
}


a {
  color: black;
  text-decoration: none;
  display: block;
  margin-bottom: 15px;
}

a:hover {
  color: #1c4484;
}

.nav .container .row {
  align-items: center;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.l-div {
  text-align: center;
  padding-top: 35px;
  font-size: 15px;
  font-family: revert;
  height: 100%;
  overflow: hidden;
}



.refresh-btn {
  background-color: transparent;
  border: 1.5px solid #5fb4ce;
  padding: 7px;
  border-radius: 5px;
  margin-bottom: 25px;
  transition: background-color 0.2s linear;
}

.refresh-btn:hover {
  color: white;
  background-color: #0d8db5;
}

.credit {
  margin-bottom: 5px;
  color: #65ba47;
  align-content: center;
}

.credit img {
  width: 20px;
}

.row>* {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.m-div div {
  align-items: center;
}



.r-div {
  text-align: left;
  padding-top: 35px;
  padding-left: 10px !important;
  padding-right: 10px !important;
  font-size: 13px;
  font-family: sans-serif;
  height: 100%;
  overflow: hidden;
}

.r-div .summury {
  margin-bottom: 50px;
}

.r-div .summury p,
.r-div .county-info p {
  margin-bottom: 8px;
  font-weight: 600;
}

.r-div .summury .title,
.r-div .county-info .title {
  width: 100%;
  text-align: center;
  color: #65ba47;
  font-size: 18px;
  text-decoration: underline;
  margin-bottom: 1rem;
}

.full-width input {
  width: 100%;
}

.full-width select {
  width: 100%;
}

.center {
  text-align: center;
}

.spesific-width select,
.spesific-width input {
  width: 90%;
}

.p-l-10 {
  padding-left: 10px !important;
}


.m-div {
  padding: 10px !important;
  font-size: 13px;
  box-shadow: inset 0 0 10px #dcdada96;
}

.m-div .title {
  margin-bottom: 8px;
  text-decoration: underline;
  color: #2598bc;
  font-weight: bold;
}

.m-div .Remittance-Info,
.sender-details {
  margin-bottom: 40px;
}

.form-check-radio {
  -webkit-appearance: auto !important;
  height: auto !important;
}

.form-check {
  display: inline-block;
}

.form-check:last-of-type {
  padding-left: 30px;
}

.spesific-width .form-check-input,
.form-check-box {
  width: 1.3em !important;
  height: 1.3em;
  margin-top: 4px !important;
  margin-left: 1px;
  margin-left: 3px;
}


.footer ul li {
  list-style: none;
  float: left;
  padding-left: 50px;
}

.footer {
  background-color: #3b5e95;
  font-size: 14px;
  padding: 0px;
  color: white;
  text-align: center;
}



select,
.content input {
  border: none;
  box-shadow: 0px 1px 5px 1px #dcdada96;
  border-radius: 5px;
}

.content .row {
  margin-bottom: 3px;
}



.show-btn {
  margin-bottom: 0 !important;
}

.show-btn div {
  text-align: center;
  padding-top: 5px;
}

.show-btn button {
  border: none;
  background-color: #0d8db5;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  padding: 5px;
}

.progress {
  margin: 0px 20px 3px 30px;
  height: .5rem !important;
  background-color: transparent;
  border-radius: .25rem;
  border: 0.1px solid #e9ecef;
}

.progress .bg-success {
  background-color: #65ba47 !important;
}

.progress .bg-info {
  background-color: #0d8db5 !important;
}


/* Small */
@media (min-width: 768px) {
  .nav{
    font-size: 0.9rem;
  }
  .nav .col-md-6:first-of-type {
    width: 20%;
  }

  .nav .col-md-6:last-of-type {
    width: 80%;
  }

  .m-div {
    font-size: 12px !important;
    padding-bottom: 200px !important;
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 11px;
  }

  .l-div,
  .r-div {
    font-size: 12px;
  }

  .nav .col-md-6:last-of-type {
    width: 80%;
    text-align: right;
  }

  .spesific-width select,
  .spesific-width input {
    width: 90% !important;
  }
}

/* Medium */
@media (min-width: 992px) and (max-width: 1400px) {

  
  .nav .col-md-6:first-of-type {
    width: 40%;
  }

  .nav .col-md-6:last-of-type {
    width: 60%;
    text-align: center;
  }

  .spesific-width select,
  .spesific-width input {
    width: 90% !important;
  }

  .m-div {
    font-size: 12px !important;
    padding-bottom: 1000px !important;
    padding: 15px !important;
  }

  .m-div .title {
    margin-bottom: 4px !important;
  }

  .footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
  }

  body {
    height: 100%;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 68% !important;
  }

  .m-div {
    font-size: 12px !important;
    padding-bottom: 30px !important;
  }

  .footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    font-size: 14px;
  }

  body {
    height: 100%;
    overflow-y: scroll;
  }

  .spesific-width select,
  .spesific-width input {
    width: 90% !important;
  }

  select,
  .content input {
    padding: 3px 10px;
    border: none;
    box-shadow: 0px 1px 5px 1px #dcdada96;
    border-radius: 5px;
  }
}

/* Mobile */
@media (min-width: 320px) and (max-width: 767px) {

  .nav .row .col-md-6 {
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
  }

  .nav {
    padding: 10px;
    text-align: center;
  }

  .logo {
    text-align: center;
  }

  .nav .search-input {
    margin-top: 20px;
    width: 90%;
  }

  .nav button {
    margin-top: 20px;
  }

  .content .row {
    margin-bottom: 12px;
  }

  .secound-nav {
    display: flex;
  }

  .sender-types {
    margin-top: 10px;
  }

  .newSender {
    display: block !important;
    color: white;
    padding-left: 10px;
    padding-top: 20px;
  }

  .openmenue {
    display: block;
  }

  .l-div {
    background-color: white;
    height: 0px !important;
    width: 100%;
    position: absolute;
    z-index: 0;
    top: 270px;
    right: 0;
    overflow-x: scroll;
    transition: 0.5s;
    text-align: center;
    padding-top: 35px;
    font-size: 15px;
    font-family: revert;
    height: 100%;
    overflow: scroll;
    box-shadow: unset;
    padding: 0;
  }

  .l-div-res {
    height: auto !important;
    padding-top: 35px !important;
    padding-bottom: 35px !important;
  }


  .r-div {
    background-color: white;
    width: 100%;
    position: absolute;
    z-index: 0;
    top: 270px;
    right: 0;
    overflow-x: scroll;
    transition: 0.5s;
    text-align: center;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    font-size: 15px;
    height: 100%;
    text-align: left;
    height: 0px !important;
    overflow: hidden;

  }

  .r-div-res {
    height: auto !important;
    padding-top: 35px !important;
    padding-bottom: 35px !important;
  }


  .center {
    text-align: left;
  }

  .p-l-10 {
    padding-left: 0px !important;
  }

  .show-btn div {
    margin-bottom: 20px;
  }

  .label-title {
    padding-bottom: 8px !important;
  }

  .none {
    display: none;
  }

  .footer .col-md-3 {
    padding: 8px 8px 8px 8px;
  }
}




@media (min-width: 1300px) and (max-width: 1390px) {

  .l-div,
  .r-div {
    font-size: 17px;
    font-family: Montserrat;
    font-weight: 800;
    padding-top: 57px;
  }

  .m-div {
    font-size: 16px !important;
    padding-bottom: 30px !important;
    padding: 18px !important;
  }

  .m-div .title {
    margin-bottom: 10px !important;
    font-size: 20px;
  }

  .content .row {
    margin-bottom: 8px;
  }

  .content .row a {
    margin-bottom: 30px;
  }

  .r-div .summury p,
  .r-div .county-info p {
    margin-bottom: 25px;
    font-weight: 600;
  }

}

@media (min-width: 740px) and (max-width: 1025px) {

  .l-div,
  .r-div {
    font-size: 11px;
    width: 14%;
  }

  .m-div {
    height: 100%;
    width: 100% !important;
    font-size: 12px !important;
    position: absolute;
    z-index: -1;
    box-shadow: unset;
    overflow: scroll;

  }

  content .row {
    margin-bottom: 7px;
  }

  .content .row {
    margin-bottom: 7px;
  }

  .secound-nav {
    display: flex;
  }

  .m-div .Remittance-Info,
  .sender-details {
    margin-bottom: 17px;
  }

  .r-div .summury .title,
  .r-div .county-info .title {
    font-size: 13px;
  }

  .r-div .summury p,
  .r-div .county-info p {
    font-weight: normal;
  }


  .openmenue,
  .closebtn {
    display: block;
  }


  .l-div {
    background-color: white;
    height: 100%;
    width: 0px;
    position: absolute;
    z-index: 0;
    top: 114px;
    left: 0;
    overflow-x: scroll;
    transition: 0.5s;
    text-align: center;
    padding-top: 35px;
    font-size: 15px;
    font-family: revert;
    height: 100%;
    overflow: scroll;
    box-shadow: 0px 1px 5px 1px #dcdada96;
  }


  .r-div {
    background-color: white;
    height: 100%;
    width: 0px;
    position: absolute;
    z-index: 0;
    top: 114px;
    right: 0;
    overflow-x: scroll;
    transition: 0.5s;
    text-align: center;
    padding-top: 35px;
    font-size: 15px;
    height: 100%;
    box-shadow: 0px 1px 5px 1px #dcdada96;
    text-align: left;
    height: 100%;
    overflow: scroll;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .l-div-res {
    width: 250px;
  }

  .r-div-res {
    width: 250px;
    padding-left: 10px !important;
  }
}


.address-icon input {
  position: relative;
  padding-right: 40px;
}

#address {
  background-image: url(../images/Location.svg);
  background-repeat: no-repeat;
  background-position: 98% 50%;
}

.address-icon img {
  position: absolute;
  margin-left: -25px;
  margin-top: 4px;
}
